{% extends 'base.html' %}

{% block head %}
<script>
    function toggleSubmitButton() {
        const userInput = document.getElementById('userInput').value;
        const submitButton = document.getElementById('submitButton');

        submitButton.disabled = userInput.trim() === '';
    }
</script>
{% endblock %}

{% block body %}
<div class="content" align="Center">
    <h1 align="Center">Shorten your URL</h1>
    <form method="POST">
        <input type="text" id="userInput" name="original_url" placeholder="Type your URL" oninput="toggleSubmitButton()">
        <button type='Submit' id="submitButton" disabled>Submit</button>
    </form>
    <div id="result">
        <h4>Shortened link</h4>
        {% if short_url %}
        <a href="{{ short_url }}" target="_blank">{{ short_url }}</a>
        {% else %}
        <!-- No link to show -->
        {% endif %}
    </div>
</div>

{% endblock %}